<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Wedding Planner</title>

</head>
@model Message
<body>

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-sm-6">
                <h3>CodingDojo Wall</h3>
            </div>
            <div class="col-sm-4 text-right">
                <p>Welcome @ViewBag.CurrentUser.FirstName</a></p>
            </div>
            <div class="col-sm-2">
                <a href="/logout">Logout</a>
            </div>
            
        </div> 
        <div class="row justify-content-center">
            <div class="col">
                <form class="text-center p-4" asp-action="PostMessage" asp-controller="Home" method="post">
                    <div class="form-group row">
                        <label asp-for="TheMessage">Post a message</label>
                        <textarea asp-for="TheMessage" class="form-control" cols="30" rows="5"></textarea>
                    </div>
                    <div class="row justify-content-end">
                        <button type="submit" class="btn btn-primary shadow rounded">Post message</button>
                    </div>
                </form>
            </div>        
        </div>

        @foreach (var msg in ViewBag.AllMessages)
        {
        <hr>
            <div class="row">
                <div class="col">
                    <div class="row ">
                        @* <div class="col-md-7"> *@
                            <h4>@msg.User.FirstName @msg.User.LastName - @msg.CreatedAt</h4>
                        @* </div> *@
                        @* <div class="col-md-5"> *@
                            <form class="text-center p-4" asp-action="DeleteMessage" asp-controller="Home" method="post">
                                <button type='submit' value="@msg.MessageId" class="btn btn-danger shadow rounded">Delete Message</button>
                            </form>                       
                        @* </div> *@
                    </div>
                    <p>@msg.TheMessage</p>
                    @* <div class="row justify-content-end ">
                        <div class="col-md-10">
                            <form class="text-center p-4" asp-action="PostComment" asp-controller="Home" method="post">
                                <div class="form-group row">
                                    <label asp-for="comment">Post a comment</label>
                                    <textarea name="comment" class="form-control" id="comment" cols="30" rows="4"></textarea>
                                </div>
                                <input type="text" hidden asp-for="MessageId" value="@Model.MessageId">
                                <div class="row justify-content-end">
                                    <button type="submit" class="btn btn-success shadow rounded">Post comment</button>
                                </div>
                            </form>
                            @foreach (var cmt in Model.Comment.All)
                            {
                                <h5>@cmt.User.FirstName @cmt.User.LasName - cmt.CreatedAt</h5>
                                <p>@cmt.TheComment</p>
                            }
                        </div>
                    </div> *@
                </div>

            </div>
        }
    </div>
</body>
</html>